controller:
    influxdb:
        url: http://proxy.green-rabbit.net:8086
        token: TUi-cgEEDqEeD1o14fLaH6FdEgMoeqShRYlCHxuo63weJ5Nnmze_MFqRHJ0XeGlMS9r_1iZe3-HGgJDqZ9bqRA==
        org: home
        bucket: sensor
    sensor:
        temp:
            - name: 屋外の気温
              # measure: sensor.esp32
              # hostname: ESP32-outdoor-1
              measure: sensor.rasp
              hostname: rasp-storeroom
        humi:
            - name: 屋外の湿度
              # measure: sensor.esp32
              # hostname: ESP32-outdoor-1
              measure: sensor.rasp
              hostname: rasp-storeroom
        lux:
            - name: 屋外の照度
              measure: sensor.rasp
              hostname: rasp-weather-1
        solar_rad:
            - name: 太陽の日射量
              measure: sensor.rasp
              hostname: rasp-weather-1
        rain:
            - name: 降雨量
              measure: sensor.rasp
              hostname: rasp-weather-1
        power:
            - name: リビング
              measure: hems.sharp
              hostname: リビングエアコン
            - name: 書斎
              measure: hems.sharp
              hostname: 書斎エアコン
            - name: 和室
              measure: hems.sharp
              hostname: 和室エアコン
            - name: 洋室A
              measure: hems.sharp
              hostname: 洋室Aエアコン
            - name: 洋室B
              measure: hems.sharp
              hostname: 洋室Bエアコン
    watering:
        measure: sensor.rasp
        hostname: rasp-cooler-1
        # 水道料金の単価 1m^2 あたり
        unit_price: 251.9
    decision:
        thresholds:
            # 屋外の照度がこの値未満の場合、冷却の強度を弱める
            lux: 300
            # 太陽の日射量がこの値未満の場合、冷却の強度を弱める
            solar_rad_low: 200
            # 太陽の日射量がこの値を超える場合、冷却の強度を強める
            solar_rad_high: 700
            # 太陽の日射量がこの値より大きい場合、昼間とする
            solar_rad_daytime: 50
            # 屋外の湿度がこの値を超えていたら、冷却を停止する
            humi_max: 96
            # 屋外の温度がこの値を超えていたら、冷却の強度を大きく強める
            temp_high_h: 35
            # 屋外の温度がこの値を超えていたら、冷却の強度を強める
            temp_high_l: 32
            # 屋外の温度がこの値を超えていたら、冷却の強度を少し強める
            temp_mid: 29
            # エアコンの冷房動作と判定する温度閾値
            temp_cooling: 20
            # 降雨量〔mm/h〕がこの値を超えていたら、冷却を停止する
            rain_max: 0.01
            # クーラー動作中と判定する電力閾値(W)
            power_work: 20
            # クーラー平常運転中と判定する電力閾値(W)
            power_normal: 500
            # クーラーフル稼働中と判定する電力閾値(W)
            power_full: 900
    interval_sec: 60
    liveness:
        file: /dev/shm/healthz.controller
actuator:
    subscribe:
        liveness:
            file: /dev/shm/healthz.actuator.subscribe
    control:
        valve:
            # 電磁弁制御用の GPIO 端子番号のデフォルト値。
            # この端子が H になった場合に、水が出るように回路を組んでおく。
            pin_no: 17 # BCM で指定
            "on":
                # ON にしたときの最低流量。実際の流量がこれ未満になっている場合、
                # 元栓が閉じている可能性あり。
                min: 0.02
                # ON にした時の最大流量。実際の流量がこれより大きくになっている場合、
                # 水漏れしている可能性あり。
                max: 3.8
            "off":
                # OFF にした時の最大流量。実際の流量がこれより大きくなっている場合、
                # 水漏れしている可能性あり。
                max: 0.01
            # 元栓を閉じてからこの時間経過したら、流量センサの電源を落とす
            power_off_sec: 7200
        interval_sec: 1
        hazard:
            file: /dev/shm/unit_cooler.hazard
        liveness:
            file: /dev/shm/healthz.actuator.control
    monitor:
        flow:
            "on":
                # ON にしたときの最低流量。実際の流量がこれ未満になっている場合、
                # 元栓が閉じている可能性あり。
                min: 0.02
                # ON にした時の最大流量。ON してから、5, 10, 15, 20秒経過した時点で、
                # 実際の流量がこれより大きくになっている場合、水漏れしている可能性あり。
                max: [12, 12, 5, 3.0]
            "off":
                # OFF にした時の最大流量。実際の流量がこれより大きくなっている場合、
                # 水漏れしている可能性あり。
                max: 0.01
            # 元栓を閉じてからこの時間経過したら、流量センサの電源を落とす
            power_off_sec: 7200
        fluent:
            host: proxy.green-rabbit.net
        sense:
            giveup: 5
        interval_sec: 1
        liveness:
            file: /dev/shm/healthz.actuator.monitor
    web_server:
        webapp:
            data:
                log_file_path: data/hems.unit_cooler.log

    metrics:
        data: data/metrics.db

webui:
    webapp:
        static_dir_path: frontend/dist
        port: 5000
    subscribe:
        liveness:
            file: /dev/shm/healthz.webui.subscribe
slack:
    bot_token: xoxb-XXXXXXXXXXXX-XXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX
    from: Outdoor Unit Cooler
    error:
        channel:
            name: "#error"
            id: C04Q1CEGW9K
        interval_min: 180
